# فایل‌های سیستمی و محیط مجازی پایتون
__pycache__/
venv/
.env

# فایل‌های دیتای حجیم (این‌ها نباید روی سرور کد بروند)
*.xlsx
*.csv
*.db

# فایل‌های امنیتی (هرگز رمزها را آپلود نکنید!)
secrets.py
keys.json